.wrapper{
  display: grid;
  width: 80%;
  height:80%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr .3fr;
  grid-template-areas:
          "videoholder videoholder videoholder notebook notebook"
          "videoholder videoholder videoholder notebook notebook"
          "controller controller controller . .";
  margin: 0 auto;
  /* background: orange; */
}

.right-side{
    /* display: grid; */

}

#sentenceBreakdown{

  display:grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  grid-template-rows: 1fr 0.5fr 0.3fr;
  grid-template-areas:
            "mainword explain explain"
            "pronunc explain explain"
            "wordtype explain explain";
  background: #ECECEC;
  border-style: solid;
  border-color: green;
  margin: 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px auto;
  text-align: center;
}

.lesson-structure{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
            "left_side_element main_element right_side_element";
  /* background: green; */
  margin: 5px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 20px auto;

}

.card-other-case{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 0.3fr 0.3fr 1.5fr;
  grid-template-areas:
            "case_sentence"
            "other-periph"
            "other-definition"
            "result_sentence"
            "source_video_img"

}
.peripheral-element{
  grid-area: other-periph;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "left_side_element main_element right_side_element";
  margin: 5px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 20px auto;
}
