.wrapper{
    display: grid;
    width: 80%;
    height:80%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
}

.video-thumbnail-holder{

}
