<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> Marllo_interest Selection</title>
    <link rel="stylesheet" href = "videofeed-style.css">
</head>

<body>
<div id=wrapper class=wrapper>

<button id=drama>Drama</button>
<button id=gob>Goblin</button>
<button id=dts>Descendant of the Sun</button>
<button id=cheeze>Cheeze Film</button>
<button id=idol>Idol</button>
<button id=iu>IU</button>
<button id=bts>BTS</button>


<script src="../static/js/jquery-3.1.1.js"></script>
<script src ="../static/js/videofeed.js"></script>
</div>
</body>
</html>
