<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title> Marllo_video playback </title>
   <link rel="stylesheet" href = "../static/css/style.css">
   <link rel="stylesheet" href = "../static/css/style-grid.css">
   <link rel="stylesheet" href = "../static/css/style-lessonCard.css">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
   <link rel="stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"></link>

<h1>Marlo</h1>
</head>

<body>
    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
<div class=wrapper>

<div class=left-side>

    <div class="video-wrapper">
         <div class="custom-modal">
            Would you like to learn this sentence?
            <div id = "modalContent" class="custom-modal-content">
                <div id = "sentenceToLearn" class="sentence-learn">

                </div>
                <button id='nextButton' class='next-button'>next sentence</button>
                <button id='learnButton' class='learn-button'>Learn</button>
                <button id='beforeButton' class='before-button'>before sentence</button>
            </div>
        </div>
      <div id="video-placeholder">

        </div>
      <section class = subBox>
        <div class = "korsub" style="font-size:20px" id="subtitleboxKor">
        </div>
        <div class = "engsub" id="subtitleboxEng">
        </div>


      </section>
    </div>

</div>

<div class="right-side">
    <div id="noteContainer" class="note-container">
        <div id="realmainsentContainer" class="real-mainsent-container" >
        </div>


        <!-- <button id='hearVoice' class='before-button'>listen to it slowly</button> -->
        <section id="lessonBox" class="lesson-box">
            <div id="sentenceBreakdown" class="sentenceBreak">
            </div>
        </section>

      <div id="lessonCard" class="lesson-content-container">

        <div id="lessonContent" class="lesson-content card">
          <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs">
                  <li class="nav-item"><a href="#" class="nav-link active"><i class="fa fa-star"></i></a></li>
                  <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-star"></i></a></li>
                  <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-star"></i></a></li>
              </ul>
          </div>
          <section class="card-body">
            <h4 id="cardTitle" class="lesson-title card-title"></h4>
            <div id="cardDescription" data-order=1 class="lesson-card-content active lesson-description card-text"></div>
            <div id="cardEquation" data-order=2 class="lesson-card-content lesson-equation text-center"></div>
            <div id="cardStructure" data-order=3 class="lesson-card-content lesson-structure text-center"></div>
            <button id="cardButtonNext" class="btn btn-primary" type="button" style="margin-right: 4px;padding-left: 12px;position: relative;">next</button>
          </section>

        </div>
      </div>


      </div class="note-container">

</div class="right-side">

<div class = btnControls id="controls">

  <i id="back" class="fas fa-backward fa-2x"></i>
  <i id="play" class="fas fa-play fa-2x"></i>
  <i id="pause" class="fa fa-pause fa-2x"></i>
  <i id="skip" class="fas fa-forward fa-2x"></i>

  <button id='lessonCardButton' class="lesson-card-button">Lesson Card</button>
  <button id='storeWord' class='db-button'>Store</button>
  <button id='showTag' class='tag-button'>tags</button>
</div>

</div>


<audio>
    <source class="track" src="" type="audio/mpeg" />
</audio>

<script src="../static/js/jquery-3.1.1.js"></script>
<script src="https://www.youtube.com/iframe_api"></script>
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.132.0.min.js"></script>
<script src="../static/js/youtubecontrol.js" type="text/javascript"></script>
<script src="../static/js/lessoncard.js" type="text/javascript"></script>
<script src="../static/js/polly.js" type="text/javascript"></script>

</body>
</html>
